[Unit]
Description=APRS Weather
After=network.target
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
Type=simple
Restart=on-failure
RestartSec=90
ExecStart=/usr/local/bin/aprs_wx

[Install]
Alias=aprs_ws.service
WantedBy=multi-user.target
